.form-control {
  margin: 1rem 0;
}

.form-control label {
  font-weight: bold;
  display: block;
}

.form-control input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  font: inherit;
  padding: 0.15rem;
}

.form-control input:focus {
  outline: none;
  border-color: #3d003d;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

button {
  background-color: #3d003d;
  border: 1px solid #3d003d;
  color: white;
  padding: 0.5rem 1.5rem;
  font: inherit;
  cursor: pointer;
  margin: 0.5rem 0;
}

button:hover,
button:active {
  background-color: #861586;
  border-color: #861586;
}

